/* ================================
   RMS Theme
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI, Arial, sans-serif;
    background:#F4F6F9;
    color:#212529;
    padding:30px;
}

/* Header */

.header-bar{
    background:#0B1F3A;
    color:white;
    padding:20px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header-bar h2{
    margin:0;
}

/* Buttons */

.btn{
    padding:10px 16px;
    border-radius:6px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.btn-edit{
    background:#FFC107;
    color:black;
}

.btn-delete{
    background:#DC3545;
}

.btn-logout{
    background:#198754;
}

/* Search Box */

.search-box{
    margin-bottom:20px;
}

.search-box input{
    width:350px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

.search-box button{
    padding:10px 15px;
    border:none;
    background:#0B1F3A;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.search-box button:hover{
    background:#16345d;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

th{
    background:#0B1F3A;
    color:white;
}

th,
td{
    padding:14px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#FFF8DC;
    transition:.2s;
}